.task {
    background-color: #f8f9fa; /* Light gray background */
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s; /* Smooth transition for background color */
  }
  
  .task:hover {
    background-color: #e2e6ea; /* Darker background on hover */
  }
  
  .task h3 {
    margin: 0;
    font-size: 18px;
    color: #343a40; /* Dark text color */
  }
  
  .delete-icon {
    color: #dc3545; /* Red delete icon color */
    cursor: pointer;
    transition: color 0.3s; /* Smooth transition for color change */
  }
  
  .delete-icon:hover {
    color: #bd2130; /* Darker red on hover */
  }
  
  .task-info {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .start-time, .completed-time {
    margin: 0;
    font-size: 14px;
    color: #6c757d; /* Gray text color */
  }
  
  .status {
    font-weight: bold;
    margin: 5px 0;
    color: #28a745; /* Green status text color */
  }
  
  .completed {
    color: #dc3545; /* Red color for completed status */
  }
  
  /* Remove the text-decoration for completed class */
  .completed p {
    text-decoration: none;
  }
  
  .toggle-btn {
    background-color:  #00b357;  /* Darker blue on hover */
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    transition: background-color 0.3s; /* Smooth transition for background color */
  }
  
  .toggle-btn:hover {
    background-color:#007bff; /* Blue complete button color */
  }
  
  .incomplete {
    background-color: #dc3545; /* Red color for incomplete button */
  }
  